.social-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: opacity 0.2s;
    color: white;
}

.social-button:hover {
    opacity: 0.9;
}

.icon-margin {
    margin-right: 0.5rem;
}
