.profile-container {
    padding: 20px 40px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profile-info-container {
    width: 100%;
    flex-direction: column;
    padding: 10px 0 100px;
}
.profile-heading {
    color: white !important;
    margin-top: 30px !important;
    font-weight: 400 !important;
}
.profile-image-change {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.profile-image-container {
    background: linear-gradient(
        to bottom right,
        #0278ff,
        #a535b2,
        #f4158c
    ) !important;
    border-radius: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.profile-border {
    background-color: #090c11;
    border-radius: 100%;
    padding: 3px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image {
    border-radius: 100%;
    display: flex;
}
@media screen and (min-width: 480px) {
    .profile-image-change {
        flex-direction: row;
    }
    .profile-image {
        height: 150px;
    }
}
.profile-label {
    color: #ffffffa8 !important;
}
.btn-save-change,
.change-image-button {
    all: unset;
    transition: all 500ms ease-in-out;
    padding: 5px 10px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    min-width: 120px;
    max-width: 200px;
    text-align: center;
}
.btn-save-change:hover {
    background-color: #1b851b;
}
.btn-save-change {
    background-color: #0e640e;
}
.change-image-button {
    background-color: #141922;
}
.change-image-button:hover {
    background-color: #232a36;
}
.change-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
}
.profile-info,
.change-password-container,
.update-profile {
    border-top: 2px solid #ffffff6c;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 15px;
}

.profile-info p,
.change-password-container p {
    margin: 0;
}
.form-change-password,
.form-update-profile {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.form-change-camp {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-change-camp input {
    all: unset;
    color: white;
    padding: 5px 10px;
    background-color: #141922;
}
.form-update-profile button,
.form-change-password button {
    background-color: #0957b1 !important;
}
.form-update-profile button:hover,
.form-change-password button:hover {
    background-color: #076de2 !important;
}
.error-message-form {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    bottom: -18px;
    left: 0px;
    margin: 0;
}
