.room-home-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.room-home-header {
    position: relative;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.room-home-title{
    font-size: 1.6rem!important;
    text-align: center;
}
.room-home-description{
    color: #e6e3e3;
    font-size: 1.4rem!important;
}

.room-home-header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spinner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.room-home-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.room-home-file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.room-home-container .container {
    margin-top: 20px;
    padding: 0;
}
@media screen and (min-width: 728px) {
    .room-home-title{
        font-size:2rem!important;
    }
    .room-home-description{
        font-size: 1.8rem!important;
    } 
}