.search-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px;
    gap: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    background-color: transparent;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.search-bar:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.search-bar.border-active {
    border-color: rgba(255, 255, 255, 0.5);
}
